body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: blueviolet;
    text-align: center;
}
h2 {
    color: lightskyblue;
}
p {
    color: darkred;
}
.green {
    color: green;
}
#pink {
    color: pink;
}
a[title="Google"] {
    color: green;
}
.hover:hover {
    color: red;
}
.firstletter::first-letter {
    font-size: 40px;
    color: orange;
}