@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    font-family: "Roboto", sans-serif; 
}
.horloge {
    background-color: rgb(197, 197, 197);
    width: 500px;
    height: 200px;
    border-radius: 35px;
    border: 1px solid black;
    margin-left: 50px;
       

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    box-shadow: 20px 12px 23px 7px rgba(0,0,0,0.75);
-webkit-box-shadow: 20px 12px 23px 7px rgba(0,0,0,0.75);
-moz-box-shadow: 20px 12px 23px 7px rgba(0,0,0,0.75);
}