@charset "utf-8";

/* -- Visualisation des bordures de tableau -- */

table, th, td {
  border-style: solid;
  border-width: 1px;
  border-color : black;
  border-collapse: collapse;
}
/* -- Taille des cellules -- */
td {
  width : 50px;
  height : 100px;
}

/* -- Couleurs du drapeau -- */

.bleu {
  background-color: blue;
}
.blanc {
  background-color: white;
}
.rouge {
  background-color: red;
}

.noir {
    background-color: black;
}
.jaune-belgique {
    background-color: #FDDA24;
}
.rouge-belgique {
    background-color: #EF3340;
}

.vert-italie {
    background-color: #008C45;
}
.rouge-italie {
    background-color: #CD212A;
}

.rouge {
    background-color: red;
}
.orange {
    background-color: orange;
}
.jaune {
    background-color: yellow;
}
.vert {
    background-color: green;
}
.bleu {
    background-color: blue;
}
.violet {
    background-color: purple;
}

.LGBT td {
    width : 175px;
    height : 15px;
}

.US td {
    width : 175px;
    height : 5px;
}
